
.metadata/.lock

.metadata/.log

.metadata/.plugins/org.eclipse.core.resources/.history/28/20c53497d53c001a19d2cac445ea2b57

.metadata/.plugins/org.eclipse.core.resources/.history/ac/603aea2bd63c001a19d2cac445ea2b57

.metadata/.plugins/org.eclipse.core.resources/.history/bf/d0f684aad63c001a19d2cac445ea2b57

.metadata/.plugins/org.eclipse.core.resources/.history/e/1032b62bd63c001a19d2cac445ea2b57

.metadata/.plugins/org.eclipse.core.resources/.projects/mega-light-meter/.indexes/af/history.index

.metadata/.plugins/org.eclipse.core.resources/.projects/mega-light-meter/.indexes/properties.index

.metadata/.plugins/org.eclipse.core.resources/.projects/mega-light-meter/.markers.snap

.metadata/.plugins/org.eclipse.core.resources/.projects/mega-light-meter/.syncinfo.snap

.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/history.version

.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.index

.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.version

.metadata/.plugins/org.eclipse.core.resources/.root/.markers.snap

.metadata/.plugins/org.eclipse.core.resources/.root/3.tree

.metadata/.plugins/org.eclipse.core.resources/.safetable/org.eclipse.core.resources

.metadata/.plugins/org.eclipse.core.resources/3.snap

.metadata/.plugins/org.eclipse.core.runtime/.settings/com.google.cloud.tools.eclipse.sdk.prefs

.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.core.resources.prefs

.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.debug.ui.prefs

.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.egit.core.prefs

.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.core.prefs

.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.junit.prefs

.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.launching.prefs

.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.ui.prefs

.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.m2e.discovery.prefs

.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.pde.api.tools.prefs

.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.editors.prefs

.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.ide.prefs

.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.workbench.prefs

.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.wst.jsdt.ui.prefs

.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.wst.server.core.prefs

.metadata/.plugins/org.eclipse.core.runtime/.settings/org.springframework.ide.eclipse.boot.dash:Cloud Foundry.prefs

.metadata/.plugins/org.eclipse.core.runtime/.settings/org.springframework.ide.eclipse.imports.prefs

.metadata/.plugins/org.eclipse.core.runtime/.settings/org.springsource.ide.eclipse.commons.frameworks.core.prefs

.metadata/.plugins/org.eclipse.core.runtime/.settings/org.springsource.ide.eclipse.commons.ui.prefs

.metadata/.plugins/org.eclipse.e4.ui.workbench.swt/dialog_settings.xml

.metadata/.plugins/org.eclipse.e4.workbench/workbench.xmi

.metadata/.plugins/org.eclipse.jdt.core/1044110891.index

.metadata/.plugins/org.eclipse.jdt.core/1081044688.index

.metadata/.plugins/org.eclipse.jdt.core/1089239932.index

.metadata/.plugins/org.eclipse.jdt.core/1102928336.index

.metadata/.plugins/org.eclipse.jdt.core/1171297666.index

.metadata/.plugins/org.eclipse.jdt.core/1227742939.index

.metadata/.plugins/org.eclipse.jdt.core/1246225080.index

.metadata/.plugins/org.eclipse.jdt.core/1377502041.index

.metadata/.plugins/org.eclipse.jdt.core/1456929025.index

.metadata/.plugins/org.eclipse.jdt.core/1466596342.index

.metadata/.plugins/org.eclipse.jdt.core/1472178632.index

.metadata/.plugins/org.eclipse.jdt.core/1525600799.index

.metadata/.plugins/org.eclipse.jdt.core/1559237512.index

.metadata/.plugins/org.eclipse.jdt.core/1562886813.index

.metadata/.plugins/org.eclipse.jdt.core/157183949.index

.metadata/.plugins/org.eclipse.jdt.core/1580845940.index

.metadata/.plugins/org.eclipse.jdt.core/1586452274.index

.metadata/.plugins/org.eclipse.jdt.core/1628687906.index

.metadata/.plugins/org.eclipse.jdt.core/1651656579.index

.metadata/.plugins/org.eclipse.jdt.core/1732703715.index

.metadata/.plugins/org.eclipse.jdt.core/1764624360.index

.metadata/.plugins/org.eclipse.jdt.core/1961455969.index

.metadata/.plugins/org.eclipse.jdt.core/1974299939.index

.metadata/.plugins/org.eclipse.jdt.core/2120426812.index

.metadata/.plugins/org.eclipse.jdt.core/2163347316.index

.metadata/.plugins/org.eclipse.jdt.core/2253745042.index

.metadata/.plugins/org.eclipse.jdt.core/2295543543.index

.metadata/.plugins/org.eclipse.jdt.core/2358527918.index

.metadata/.plugins/org.eclipse.jdt.core/2359322674.index

.metadata/.plugins/org.eclipse.jdt.core/2427102950.index

.metadata/.plugins/org.eclipse.jdt.core/2481821439.index

.metadata/.plugins/org.eclipse.jdt.core/2518641681.index

.metadata/.plugins/org.eclipse.jdt.core/2573587204.index

.metadata/.plugins/org.eclipse.jdt.core/2584431349.index

.metadata/.plugins/org.eclipse.jdt.core/2654334250.index

.metadata/.plugins/org.eclipse.jdt.core/2743273445.index

.metadata/.plugins/org.eclipse.jdt.core/2744878784.index

.metadata/.plugins/org.eclipse.jdt.core/2797114287.index

.metadata/.plugins/org.eclipse.jdt.core/284822962.index

.metadata/.plugins/org.eclipse.jdt.core/2878430533.index

.metadata/.plugins/org.eclipse.jdt.core/2924475525.index

.metadata/.plugins/org.eclipse.jdt.core/3002132239.index

.metadata/.plugins/org.eclipse.jdt.core/3066711521.index

.metadata/.plugins/org.eclipse.jdt.core/3091688745.index

.metadata/.plugins/org.eclipse.jdt.core/3104681406.index

.metadata/.plugins/org.eclipse.jdt.core/320900254.index

.metadata/.plugins/org.eclipse.jdt.core/3242589588.index

.metadata/.plugins/org.eclipse.jdt.core/3248787614.index

.metadata/.plugins/org.eclipse.jdt.core/3443543418.index

.metadata/.plugins/org.eclipse.jdt.core/3485262699.index

.metadata/.plugins/org.eclipse.jdt.core/3512161136.index

.metadata/.plugins/org.eclipse.jdt.core/3519652991.index

.metadata/.plugins/org.eclipse.jdt.core/3530540584.index

.metadata/.plugins/org.eclipse.jdt.core/3539432263.index

.metadata/.plugins/org.eclipse.jdt.core/3831484234.index

.metadata/.plugins/org.eclipse.jdt.core/3842792088.index

.metadata/.plugins/org.eclipse.jdt.core/3883508318.index

.metadata/.plugins/org.eclipse.jdt.core/392222825.index

.metadata/.plugins/org.eclipse.jdt.core/3999890630.index

.metadata/.plugins/org.eclipse.jdt.core/4033178894.index

.metadata/.plugins/org.eclipse.jdt.core/4107668795.index

.metadata/.plugins/org.eclipse.jdt.core/4118659722.index

.metadata/.plugins/org.eclipse.jdt.core/4248059954.index

.metadata/.plugins/org.eclipse.jdt.core/4252989759.index

.metadata/.plugins/org.eclipse.jdt.core/4255990077.index

.metadata/.plugins/org.eclipse.jdt.core/4279541867.index

.metadata/.plugins/org.eclipse.jdt.core/434545830.index

.metadata/.plugins/org.eclipse.jdt.core/470674646.index

.metadata/.plugins/org.eclipse.jdt.core/502732891.index

.metadata/.plugins/org.eclipse.jdt.core/515970627.index

.metadata/.plugins/org.eclipse.jdt.core/549789888.index

.metadata/.plugins/org.eclipse.jdt.core/554784872.index

.metadata/.plugins/org.eclipse.jdt.core/572012989.index

.metadata/.plugins/org.eclipse.jdt.core/5990989.index

.metadata/.plugins/org.eclipse.jdt.core/647303511.index

.metadata/.plugins/org.eclipse.jdt.core/697814362.index

.metadata/.plugins/org.eclipse.jdt.core/813341167.index

.metadata/.plugins/org.eclipse.jdt.core/821608291.index

.metadata/.plugins/org.eclipse.jdt.core/836660726.index

.metadata/.plugins/org.eclipse.jdt.core/840425411.index

.metadata/.plugins/org.eclipse.jdt.core/889229547.index

.metadata/.plugins/org.eclipse.jdt.core/906355765.index

.metadata/.plugins/org.eclipse.jdt.core/925982370.index

.metadata/.plugins/org.eclipse.jdt.core/assumedExternalFilesCache

.metadata/.plugins/org.eclipse.jdt.core/externalFilesCache

.metadata/.plugins/org.eclipse.jdt.core/externalLibsTimeStamps

.metadata/.plugins/org.eclipse.jdt.core/javaLikeNames.txt

.metadata/.plugins/org.eclipse.jdt.core/nonChainingJarsCache

.metadata/.plugins/org.eclipse.jdt.core/savedIndexNames.txt

.metadata/.plugins/org.eclipse.jdt.core/variablesAndContainers.dat

.metadata/.plugins/org.eclipse.jdt.launching/.install.xml

.metadata/.plugins/org.eclipse.jdt.launching/libraryInfos.xml

.metadata/.plugins/org.eclipse.jdt.ui/dialog_settings.xml

.metadata/.plugins/org.eclipse.jdt.ui/jdt-images/0.png

.metadata/.plugins/org.eclipse.jdt.ui/OpenTypeHistory.xml

.metadata/.plugins/org.eclipse.jdt.ui/QualifiedTypeNameHistory.xml

.metadata/.plugins/org.eclipse.ltk.core.refactoring/.refactorings/.workspace/2020/1/2/refactorings.history

.metadata/.plugins/org.eclipse.ltk.core.refactoring/.refactorings/.workspace/2020/1/2/refactorings.index

.metadata/.plugins/org.eclipse.ltk.core.refactoring/.refactorings/teste/2020/1/2/refactorings.history

.metadata/.plugins/org.eclipse.ltk.core.refactoring/.refactorings/teste/2020/1/2/refactorings.index

.metadata/.plugins/org.eclipse.ltk.ui.refactoring/dialog_settings.xml

.metadata/.plugins/org.eclipse.m2e.core/mega-light-meter.lifecyclemapping

.metadata/.plugins/org.eclipse.m2e.core/nexus/05b0fe8524860bd73cbb07ef30fb34cc/_0.cfs

.metadata/.plugins/org.eclipse.m2e.core/nexus/05b0fe8524860bd73cbb07ef30fb34cc/segments_2

.metadata/.plugins/org.eclipse.m2e.core/nexus/05b0fe8524860bd73cbb07ef30fb34cc/segments.gen

.metadata/.plugins/org.eclipse.m2e.core/nexus/05b0fe8524860bd73cbb07ef30fb34cc/write.lock

.metadata/.plugins/org.eclipse.m2e.core/nexus/830bc118332e77292949ed1e6d2fabe0/_0.cfs

.metadata/.plugins/org.eclipse.m2e.core/nexus/830bc118332e77292949ed1e6d2fabe0/_1.cfs

.metadata/.plugins/org.eclipse.m2e.core/nexus/830bc118332e77292949ed1e6d2fabe0/_2.cfs

.metadata/.plugins/org.eclipse.m2e.core/nexus/830bc118332e77292949ed1e6d2fabe0/segments_4

.metadata/.plugins/org.eclipse.m2e.core/nexus/830bc118332e77292949ed1e6d2fabe0/segments.gen

.metadata/.plugins/org.eclipse.m2e.core/nexus/830bc118332e77292949ed1e6d2fabe0/write.lock

.metadata/.plugins/org.eclipse.m2e.core/nexus/a478acea29808162a90c70423adab8de/_0.cfs

.metadata/.plugins/org.eclipse.m2e.core/nexus/a478acea29808162a90c70423adab8de/segments_2

.metadata/.plugins/org.eclipse.m2e.core/nexus/a478acea29808162a90c70423adab8de/segments.gen

.metadata/.plugins/org.eclipse.m2e.core/nexus/a478acea29808162a90c70423adab8de/write.lock

.metadata/.plugins/org.eclipse.m2e.core/workspacestate.properties

.metadata/.plugins/org.eclipse.m2e.core/workspaceState.ser

.metadata/.plugins/org.eclipse.m2e.jdt/mega-light-meter.container

.metadata/.plugins/org.eclipse.m2e.logback.configuration/0.log

.metadata/.plugins/org.eclipse.m2e.logback.configuration/logback.1.13.0.20190716-1624.xml

.metadata/.plugins/org.eclipse.pde.core/.cache/clean-cache.properties

.metadata/.plugins/org.eclipse.tips.ide/dialog_settings.xml

.metadata/.plugins/org.eclipse.ui.ide/dialog_settings.xml

.metadata/.plugins/org.eclipse.ui.workbench/dialog_settings.xml

.metadata/.plugins/org.eclipse.ui.workbench/workingsets.xml

.metadata/.plugins/org.eclipse.wst.jsdt.core/externalLibsTimeStamps

.metadata/.plugins/org.eclipse.wst.jsdt.core/libraries/baseBrowserLibrary.js

.metadata/.plugins/org.eclipse.wst.jsdt.core/libraries/browserWindow.js

.metadata/.plugins/org.eclipse.wst.jsdt.core/libraries/dom5.js

.metadata/.plugins/org.eclipse.wst.jsdt.core/libraries/system.js

.metadata/.plugins/org.eclipse.wst.jsdt.core/libraries/xhr.js

.metadata/.plugins/org.eclipse.wst.jsdt.core/variablesAndContainers.dat

.metadata/.plugins/org.eclipse.wst.jsdt.ui/OpenTypeHistory.xml

.metadata/.plugins/org.eclipse.wst.jsdt.ui/QualifiedTypeNameHistory.xml

.metadata/.plugins/org.eclipse.wst.sse.core/task-tags.properties

.metadata/version.ini

.metadata/.plugins/org.eclipse.wst.xml.core/default_catalog.xml

.metadata/.plugins/org.eclipse.wst.xml.core/system_catalog.xml
